<!DOCTYPE html>
<html>
    <head>
        <title>
           Blog
        </title>
    </head>
    <body>
        <h1>
            Блог с использованием шаблонизатора TWIG
        </h1>
    <p>Вы вошли как: {{user}}</p>
        <form action="/User/logout">
            <input type="submit" value="Выйти">
        </form>
        <hr>
        <br>
        <a href="../SwiftMailer/sendMessage">
            Отправить почту
        </a>
        
        <hr>
        <br>
            <br>
            <form enctype="multipart/form-data" action="/blog/addMessage" method="post"> <br>
                Сообщение:<br>
                <textarea style="width: 250px; height: 200px;" type="text" name="text"></textarea><br>
                <input type="file" name="img"><br>
                <input type="submit" value="Сохранить"><br>
            </form>
            <br>
            <br>
        <hr>
        <h3>Вывод сообщений</h3>
      
              
            {% for key in messages %}
            {{ key['admin']}}
 
               {% if admin %}
             <div>
               <a style="color:red" href="/admin/deleteMessage/?id={{ key['id']}}">Удалить Сообщение</a><br>
             </div>
               {% endif %}
                <p><span><b>Дата отправки сообщения: </b></span>  {{ key['insert_date'] }}</p>
                <p><span> <b>Пользователь: </b> {{ key['user']['name'] }}</p>
                <p><span><b>Текст сообщения: </b>{{ key['text'] }}</p>
                    {% if key['img'] %}
                    <img width="200px" src="../img/{{ key['img'] }}">
                   {% endif %}
               
                    
                <hr>
                    <br>
            {% endfor %}
          
        
    </body>
</html>
